<a href="https://colab.research.google.com/github/vigneshwarjayabal/GUVI_CODEKATTA/blob/main/GUVI_CODEKATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**String**

**QUESTION1**
A palindromic string is a string which is same when read from left to right and also from right to left.

write a code to check a string is palindrom or note

In [ ]:
S = input()
R = S[::-1]

if S == R:
  print(f"{S} is palindrom")
else:
  print(f"{S} is not palindrom")

repaper
repaper is palindrom

**QUESTION 2**

WRITE CODE TO REVERSE THE STRING

In [ ]:
S = input()
print(S[::-1])

jennyfer
refynnej

**QUESTION 3**

given a sentence. His task is to delete the two words that comes together and print the sentence so that the words in the output sentence have distinct words compared to their adjacent words. If no words are present in the output sentence print -1

In [ ]:
def remove_adjacent_duplicate_words(sentence):
    words = sentence.split()
    stack = []

    for word in words:
        if stack and stack[-1] == word:
            stack.pop()  # Remove duplicate
        else:
            stack.append(word)

    result = ' '.join(stack)
    return result if stack else '-1'


sentence = input()
output = remove_adjacent_duplicate_words(sentence)
print(output)

i am john cena cena john
i am

**Question 4**
delete all the repeating characters in string and print the result left

In [ ]:
def remove_repeating_characters(s):

    char_count = {}
    for char in s:
        char_count[char] = char_count.get(char, 0) + 1


    result = ''.join([char for char in s if char_count[char] == 1])


    return result


sample_input = input()
sample_output = remove_repeating_characters(sample_input)
print(sample_output)

mississipie
mpe

**QUESTION 5**

Given a string 'S' print the sum of weight of the String. A weight of character is defined as the ASCII value of corresponding character.

In [ ]:
S = input()
r = []

for i in S:
  A = ord(i)
  r.append(A)
print(sum(r))

abc
294

**QUESTION 6**

You are given a string.Your task is to print only the consonants present in the string without affecting the sentence spacings if present. If no consonants are present print -1

In English, consonants are all the letters in the alphabet except for the vowels.

In [ ]:
def print_consonants(sentence):

    vowels = "aeiouAEIOU"


    result = []


    consonant_present = False


    for char in sentence:
        if char.isalpha() and char not in vowels:
            result.append(char)
            consonant_present = True
        elif char.isspace():
            result.append(char)


    if consonant_present:
        print("".join(result))
    else:
        print("-1")


sentence = input()
print_consonants(sentence)

i am shrey
 m shry

**QUESTION 7**

you are given a string made up of parenthesis only.Your task is to check whether parenthesis are balanced or not.If they are balanced print 1 else print 0

In [ ]:
counter = 0
s = input()
for ch in s:


    if ch == '(' or ch == '{' or ch == '[':
        counter += 1


    elif ch == ')' or ch == '}' or ch == ']' :
        counter -= 1

if counter == 0:
    print(1)
else:
    print(0)

({{}}))
0

**QUESTION 8**

You are given a string. You have to print “Wonder” if the string is wonderful and -1 if it is not. A wonderful string is a string,which is made up of exactly 3 different characters.

In [ ]:
s = input()
c = set(s)

if len(c) == 3:
  print("Wonder")
else:
  print("-1")

aabbccd
-1

**QUESTION 9**

Given a string S, print 'yes' if it has a vowel in it else print 'no'.

In [ ]:
def check_vowel_in_string(s):
    # Define vowels (both uppercase and lowercase)
    vowels = "aeiouAEIOU"

    # Check if any character in the string is a vowel
    for char in s:
        if char in vowels:
            print("yes")
            return

    # If no vowel is found, print 'no'
    print("no")

# Example usage
s = input()
check_vowel_in_string(s)

codekata
yes

**QUESTION 10**

You are given a paragraph.Your task is to print the words that come just after articles.

In [ ]:
def extract_words_after_articles(paragraph):
  articles = ["a", "an", "the"]
  words = paragraph.split()
  result = []
  for i in range(1, len(words)):
    if words[i-1].lower() in articles:
      result.append(words[i])
  if result:
     print(" ".join(result))
  else:
    print("-1")
paragraph = input()
extract_words_after_articles(paragraph)

the sun rises in the east
sun east

**QUESTION 14**

You are given with a string which comprises of some numbers. Your task is to find the largest integer by converting the string to the corresponding integer.

In [ ]:
def extractMaximum(ss):
    num, res = 0, 0

    # Start traversing the given string
    for i in range(len(ss)):

        if '0' <= ss[i] <= '9':
            num = num * 10 + int(ss[i])
        else:
            res = max(res, num)
            num = 0

    return max(res, num)

ss = input()
print(extractMaximum(ss))

India got independence on 15 august 1947. But they were fighting for it for last 90 years.
1947

#**Loop**

**QUESTION 1**

Write a code get an integer number as input and print the sum of the digits.

In [ ]:
S = input()

sum = 0

for i in S:
  sum += int(i)

print(sum)

124
7

**QUESTION 2**

Write a code to get the input and print it 5 times.


Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

In [ ]:
s = int(input())

for i in range(5):
  print(s)

4
4
4
4
4
4

**QUESTION 3**

Write a code to get 2 integers as input and add the integers without any carry.


Input Description:
A single line containing 2 integers.

Output Description:
Print sum of the 2 integers without carry

In [ ]:

def add_without_carry(num1, num2):

    str1 = str(num1)
    str2 = str(num2)
    max_len = max(len(str1), len(str2))
    str1 = str1.zfill(max_len)
    str2 = str2.zfill(max_len)
    result = ""
    for digit1, digit2 in zip(str1, str2):
        result += str((int(digit1) + int(digit2)) % 10)

    return int(result)
num1, num2 = map(int, input("Enter two integers separated by space: ").split())
result = add_without_carry(num1, num2)
print("Result:", result)

Enter two integers separated by space: 44 66
Result: 0

**QUESTION 4**

Write a code to get an integer N and print the values from N to 1.


Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

In [ ]:
def PrintReverseOrder(N):
  for i in range(N, 0, -1):
    print(i)
N = int(input())
PrintReverseOrder(N)

10
10
9
8
7
6
5
4
3
2
1

**QUESTION 5**

Write a code to get an integer N and print the digits of the integer.


Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

In [ ]:
def n(s):
  str1 = str(s)
  for i in str1:
    print(int(i), end=" ")

s = int(input())
print(n(s))

348
3 4 8 None

In [ ]:
n=int(input())
s=str(n)
for i in s:
    print(i,end=" ")

348
3 4 8

In [ ]:
N = int(input())
digits = " ".join(str(abs(N)))
print(digits)

348
3 4 8

**QUESTION 6**

Write a code to get 2 integers A and N. Print the integer A, N times in separate line.


Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

In [ ]:
A,N = map(int,input().split())

for i in range(N):
  print(A)

2 3
2
2
2

**QUESTION 7**

Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.


Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

In [ ]:
def getHCF(x,y):
  minimum = min(x,y)
  if (x % minimum == 0 and y % minimum == 0):
    return minimum
  for i in range(minimum // 2, 1, -1):
    if (x % i == 0 and y % i == 0):
      return i
  return 1
x, y = map(int,input().split())
print(getHCF(x, y))

2 3
1

**QUESTION 8**

Write a code to get an integer N and print the even values from 1 till N in a separate line.


Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line

In [ ]:
def even(N):
  for i in range(1, N+1):
    if i % 2 == 0:
      print(i)

N = int(input())
even(N)

6
2
4
6

**QUESTION 9**

Write a code to get an integer N and print the sum of  values from 1 to N.


Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

In [ ]:
N = int(input())
total = 0

for i in range(1, N+1):
  total += i

print(total)

100
5050

**QUESTION 10**

Write a code get an integer number as input and print the odd and even digits of the number separately.


Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

In [ ]:
N = int(input())
odd =[]
even = []

for i in str(N):
  if int(i) % 2 == 0:
    even.append(i)
  else:
    odd.append(i)

even.sort()
odd.sort()

print(" ".join(even))
print(" ".join(odd))

233342
2 2 4
3 3 3

**QUESTION 11**

Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.


Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

In [ ]:
def smallest_power_of_2_greater_than_n(n):
    power = 1
    while power <= n:
        power *= 2
    return power
n = int(input())
result = smallest_power_of_2_greater_than_n(n)
print(result)

48
64

**QUESTION 12**

Write a program to get a string as input and reverse the string without using temporary variable.


Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

In [ ]:
s = input()[::-1]
print(s)

google
elgoog

**QUESTION 13**

Write a program to get a list of integers as input and find the LCM of the values without using GCD


Input Description:
First line contains an integer N, number of values. Second line contains N space separated values.

Output Description:
Print the LCM of the values.

In [ ]:
# Input from the user
N = int(input())
numbers = list(map(int, input().split()))

# Initialize LCM calculation
lcm = numbers[0]

for i in range(1, N):
    a = lcm
    b = numbers[i]
    max_value = max(a, b)

    while True:
        if max_value % a == 0 and max_value % b == 0:
            lcm = max_value
            break
        max_value += 1

print(lcm)

5
1 2 3 4 5
60

**QUESTION 14**

Write a code to get an integer N and print values from 1 till N in a separate line.


Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

In [ ]:
N = int(input())
for i in range(1, N+1):
  print(i)

10
1
2
3
4
5
6
7
8
9
10

#**MATHEMATICS**

**QUESTION 1**

You are given a task to tell whether the number is pure or not. A pure number is a number whose sum of digits is multiple of 3.

O(1) time and O(1) space


Input Description:
You are given a number n.

Output Description:
Print yes if it is pure else not

In [ ]:
n=int(input())
if(n%3==0):
  print('yes')
else:
  print('not')

13
not

**QUESTION 4**

Given 3 numbers a,b,c print a*b mod c.

In [ ]:
a,b,c = map(int,input().split())
print(a*b%c)

5 3 2
1

**QUESTION 5**

You are given a large number made of only 0’s and 1’s.Your task is to find the max no of consecutive 1’s. If there are no 1’s print -1

In [ ]:
n=input()
res=(max(map(len,n.split('0'))))
if res>=1:
  print(res)
else:
  print("-1")

101011111
5

**Question 6**

Simi is learning about palindromic numbers. Her teacher gave him the task to count all palindromic numbers present in that range.Simi has told you about this and want your help. You design an algorithm in order to help simi.

In [ ]:
n = int(input())
count = 0
for i in range(1, n+1):
    i = str(i)
    if i == i[::-1]:
        count += 1
print(count)

5
5

**Question 7**

You are provided with a number ’n’. Your task is to tell whether that number is saturated. A saturated number is a number which is made by exactly two digits.

In [ ]:
n = input()
res = list(set(n))
if(len(res) == 2):
    print("Saturated")
else:
  print("Unsaturated")

121
Saturated

**Question 8**

Assume your brother studies in class 2. He has to  complete his homework on co-primes. As an elder sibling help him in finding whether the given two numbers is co-prime or not.

In [ ]:
from math import gcd
n,m=map(int,input().split())
if gcd(n,m)==1:
  print("1")
else:
  print("0")

3 5
1

**Question 9**

Find the minimum among 10 numbers.

In [ ]:
N = map(int,input().split())
print(min(N))

5 4 3 2 1 7 6 10 8 9
1

**Question 10**

You are given an array of numbers. Print the least occurring element. If there is more than 1 element print all of them in decreasing order of their value.

In [ ]:
n = int(input())
arr = list(map(int, input().split()))


freq = {}
for num in arr:
    freq[num] = freq.get(num, 0) + 1


least_freq = min(freq.values())


result = []
for num, count in freq.items():
    if count == least_freq:
        result.append(num)


result.sort(reverse=True)


print(*result)

9
1 6 4 56 56 56 6 4 2
2 1

**Question 11**

You are given a set of numbers, out of which you have to tell which of them are finest. A finest number ‘n’ is a number which is formed by a number ‘t’ such that

n=t^3+(t+1)^3



t is a natural number

In [ ]:
z=int(input())
no=list(map(int,input().split()))
ls=[]
number=1
for i in no:
  for t in range(1,100+1):
    number= t**3+(t+1)**3
    if i==number:
      ls.append(i)
ls.sort()
print(*ls)

2
1729 189
189 1729

**Question 12**
Given a number N, print yes if the number is a multiple of 7 else print no.

In [ ]:
N = int(input())
if N % 7 == 0:
  print('yes')
else:
  print('no')

49
yes

**Question 13**

Given a number N, print 'yes' if it is a multiple of 13 else print 'no'.

In [ ]:
N = int(input())
if N % 13 == 0:
  print('yes')
else:
  print('no')

26
yes

**Question 14**

Pk finds it difficult to judge the minimum element in the list of elements given to him. Your task is to develop the algorithm in order to find the minimum element.

In [ ]:
N = int(input())
no = map(int,input().split())
minimum = min(no)
print(minimum)

5
3 4 9 1 6 7
1

**Question 15**

Assume that you are ticket verifier at a club. Your club has decided to give a special discount to the person(s) who are satisfying the following condition



Condition:-

If ticket number is divisible by date of month. You are eligible for a discount.

In [ ]:
n=int(input())
ele=(list(map(int,input().split())))
k=int(input())
for i in range(0,n):
  if ele[i]%k==0:
    ele[i]=1
  else:
    ele[i]=0
print(*ele)

6
112 139 165 175 262 130
22
0 0 0 0 0 0

**Question 16**

Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.

In [ ]:
N,M=input().split()
if N==M:
  print('yes')
else:
  print('no')

5 5
yes

**Question 17**

A person saves his monthly saving according to given schema. He saves same amount of money which is equal to the money saved in immediate previous two months. Assume, initially he saved 1000 rupees and in first month he saved another 1000. Your task is to tell how much he had totally saved at the end of ‘n’ months

In [ ]:
a=int(input())
if a<=2:
    print(2000*a)
else:
    print((2000*a)+1000)

1
2000

**Question 18**

You are given an array of non-negative integers representing height of walls at index i as Ai and the width of each block is 1. Compute how much air can be encapsulated between the walls of chamber.

In [ ]:
def maxAir(arr,n):
  res=0
  for i in range(1,n-1):
      left=arr[i]
      for j in range(i):
        left=max(left,arr[j])

      right=arr[i]
      for j in range(i+1,n):
        right=max(right,arr[j])

      res=res+(min(left,right)-arr[i])

  return res


N=int(input())
arr=list(map(int,input().split()))
n=len(arr)

print(maxAir(arr,n))

3
7 4 9
3

**Question 19**

Given a number N, print 'yes' if it is composite else print 'no'.

In [ ]:
def is_composite(N):
    if N < 4:
      print("no")
      return
    for i in range(2, int(N**0.5) + 1):
      if N % i == 0:
        print("yes")
        return
    print("no")

N = int(input())
is_composite(N)

123
yes

**Question 20**

Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.

In [ ]:
n=int(input())
l,r=map(int,input().split())
if n>l and n<r:
  print('yes')
else:
  print('no')

3
2 6
yes

**Question 21**

You are an employee of ‘Rox Travel’ channel.The channel has decided to give allowances to some customer who satisfy these conditions. The conditions are:

The customer should be born on or before july 22 1987

The month of D.O.B month should be of 31 days.

You are given with the D.O.B of all the employees.Your task is to print the employee index who are having chance to avail special offer.

In [ ]:
n = int(input())
l = input().split()
a = []
k = 0
for i in range(n):
    b = []
    for j in range(3):
        b.append(l[k])
        k += 1
    a.append(b)
ans = []
flag = False
for i in range(len(a)):
    if int(a[i][2]) <= 1987:
        if int(a[i][2]) == 1987:
            if a[i][1] in ('JANUARY', 'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY'):
                if (a[i][1]) == 'JULY':
                    if int(a[i][0]) <= 22:
                        ans.append(i+1)
                        flag = True
                    else:
                        continue
                else:
                    ans.append(i+1)
                    flag = True
            else:
                continue
        else:
            ans.append(i+1)
            flag = True
    else:
        continue
if flag:print(*ans)
else:print(-1)

4
23 MARCH 1996 23 MARCH 1986 22 JULY 1987 23 APRIL 1987
2 3 4

**Question 22**

Given a number N, find the nearest greater multiple of 10.
Input Size : N <= 10000
Sample Testcase :
INPUT
3
OUTPUT
10

In [3]:
#ceil is used to round the float value to greatest integer, floor gives the round of lowest value

import math
number=int(input())
number = number / 10
number =math.ceil(number)
number = number * 10
print(number)

3
10

**Question 23**

Write a program to print the sum of the first K natural numbers.
Input Size : n <= 100000.

In [4]:
n = int(input())
sum = 0
for i in range(1, n+1):
	sum += i
print(sum)

3
6

**Question 24**

Given 2 numbers N,M. Find their difference and check whether it is even or odd.

In [5]:
N,M = map(int,input().split())

difference = N - M

if difference % 2 == 0:
  print("even")
else:
  print("odd")

5 5
even

**Question 26**

Given a number N, find its next immediate greater power of 2(i.e 2^1, 2^2, 2^3...).
Input Size : N <= 1000

In [7]:
n = int(input())
lst =[(2**x) for x in range(10)]
for i in lst:
    if i > n:
        print(i)
        break

4
8

**Question 27**

You are given with a number ‘n’. You have to count the pair of two numbers a and b such that sum of two numbers are equal to n.

Note:Both numbers lie in range 1<=a,b<n

In [8]:
n=int(input())
count=0
for a in range(1,n):
  for b in range(1,n):
    if a+b==n:
      count=count+1
print(count)

5
4

**Question 28**

Count the number of digits of a given number N.Size of the integer ranges from 1

In [9]:
N=int(input())
count=0
while N>0:
  digit=N%10
  count=count+1
  N=N//10

print(count)

548
3

**Question 29**

You are given a number ‘n’. You have to tell whether a number is great or not. A great number is a number whose sum of digits let (m) and product of digits let(j) when summed together gives the number back

m+j=n

In [10]:
n=int(input())
t=n
sum=0
product=1
while n > 0:
  digit=n%10
  sum=sum+digit
  product=digit*product
  n=n//10
res=sum+product

if res==t:
  print("Great")
else:
  print("no")

59
Great

**Question 30**

You are given given task is to print whether array is ‘majestic’ or not.A ‘majsetic’ array is an array whose sum of first three number is equal to last three number.

In [11]:
n = int(input())
l = [int(x) for x in input().split()]
f = l[0] + l[1] + l[2]
la = l[-1] + l[-2] + l[-3]
if f == la:
  print(1)
else:
  print(0)

7
1 2 3 4 6 0 0
1

**Question 31**
Given a number N, print the product of the digits.
Input Size : N <= 100000000000

In [12]:
n = int(input())
pro = 1
while n>0:
	pro *= (n%10)
	n //= 10
print(pro)

2413
24

**Question 32**
Ajay is given a series(In example).he gone through the series but unable to understand it properly,he has hired you.Your task is to understand the series and print the series 2,6,12,20,30... .You are given with a number ‘n’. Find the nth number of series.

In [13]:
n=int(input())
n=n*(n+1)
print(n)

5
30

In [ ]:
'''
n*(n+1)=result
1*2=2
2*3=6
3*4=12
4*5=20
6*6=30'''

**Question 33**

you are given with ‘arasu’ series(shown in example).You have to understand it and you will be given a number ‘n’ ,you have to print the series till n numbers.

In [14]:
n = int(input())
def prime(n):
    i = 2
    l = []
    while n>0:
        if i == 2 or i == 3:
            l.append(i)
            n -= 1
        else:
            flag = True
            for j in range(2, i//2+1):
                if i%j==0:
                    flag = False
                    break
            if flag:
                l.append(i)
                n-=1
        i+=1
    return l
lst = prime(n)
a = []
sum = 0
for i in lst:
    sum += i
    a.append(sum)
print(*a)

4
2 5 10 17

**Question 34**

Given a number N, check whether it is prime or not. Print 'yes' if it is prime else print 'no'.

In [15]:
N=int(input())
if(N%2==0 or N%3==0 or N%5==0):
  print('no')
else:
  print('yes')

123
no

**Question 36**

Shreya is a brilliant girl. She likes to memorize the numbers. These numbers will be shown to her. As an examiner develop an algorithm to test her memory.

In [21]:
n = int(input())
l = [int(x) for x in input().split()]
m = int(input())
a = [int(x) for x in input().split()]

result = []
for i in a:
    if i in l:
        result.append(str(l.count(i)))
    else:
        result.append("Not Present")


print(" ".join(result))

10
1 1 1 2 2 2 3 8 9 7
5
1 2 3 0 5
3 3 1 Not Present Not Present

**Question 38**

Given length L and breadth B of a farm, print the area of the farm upto 5 decimal decimals.

In [24]:
L, B = map(float, input().split())
area = L * B
area_str = f"{area:.10f}"
integer_part, decimal_part = area_str.split(".")
result = f"{integer_part}.{decimal_part[:5]}"
print(result)

2.5432 6.7654
17.20576

**Question 40**
Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.

In [25]:
n,m = map(int,input().split())
B = n+m
if B % 2 == 0:
    print("even")
else:
  print("odd")

9 2
odd

**Question 41**
Given the values of a,b and x in the equation ax + b = y. Find the value of y.

In [26]:
a,b,x = map(int,input().split())
y = a*x+b
print(y)

3 5 2
11

**Question 42**

Given a number N and an array of N integers, find the sum of all the negative numbers in the array.

In [27]:
n = int(input())
l = input().split(" ")
l = [int(x) for x in l]
sum = 0
for i in l:
    if i < 0:
        sum += i
print(sum)

2
3 0
0

#**absolute beginner**

Question 11

Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

In [31]:

N = int(input())

if N == 0:
    print("NULL")
else:

    result = []
    for i in range(1, N + 1):
        result.append(str(9 * i))


    print(" ".join(result))

3
9 18 27

Question 12

You are given with a number "N", find its cube.

In [32]:
N = int(input())
cube = n**3
print(cube)

2
8

Question 13

You are given Two Numbers, A and B. If C = A + B. Find C.

In [37]:
A = int(input())
B = int(input())

C = A + B

print(C)

4
5
9

Question 14

You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit.

In [38]:
A = float(input())
Fahrenheit = (A * 9/5) + 32
print(f"{Fahrenheit:.2f}")

12
53.60

Question 15

You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

In [41]:
P,I,T = input().split()


P = int(P)
I = float(I)
T = int(T)

S = P*T*I/100

print(f"{S:.2f}")

100 2 5
10.00

Question 16

The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

In [42]:
import math


a = int(input())

area = (math.sqrt(3) / 4) * (a ** 2)
print(f"{area:.2f}")

20
173.21

question 18

You are provided with a number, "N". Find its factorial.

In [43]:
N = int(input())
factorial = 1
if N == 0:
    print("1")
else:
    for i in range(1, N + 1):
        factorial *= i
    print(factorial)

Enter a number: 2
2

question 24

Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

In [44]:
# Input
A = int(input("Enter a year: "))

# Check if the year is a leap year
if (A % 4 == 0 and A % 100 != 0) or (A % 400 == 0):
    print("Y")  # Leap year
else:
    print("N")  # Common year

Enter a year: 2020
Y

question 26

Let "A"  be a string. Remove all the whitespaces and find it's length.

In [45]:
# Input
A = input("Enter a string: ")

# Remove all whitespaces
A_without_spaces = A.replace(" ", "")

# Find the length of the string without spaces
length = len(A_without_spaces)

# Output the length
print(length)

Enter a string: Lorem Ipsum
10

Question 28

You are provided with two numbers. Find and print the smaller number.

In [47]:
N,M = map(int,input().split())
small = min(N,M)
print(small)

23 1
1